a{
    text-decoration: none;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url("../img/wallpaper.png"); /*local da imagem*/
    background-size: cover; /*fixa a imagem na tela inteira independente do zoom*/
     /*para a imagem não ficar repetimndo varias vezes*/
 /* background-image:    linear-gradient(    transparent 0%,    transparent 90%,    white 90%,    black 100%  );
 background-color: linear-gradient(179.98deg, rgba(0, 0, 0, 0) 19.55%, #22DD7A 124.71%);/
 background-color: linear-gradient(black, red);*/

    margin: 0 auto;
    }
    @font-face {
        font-family: carta-magna;
        src: url( "../fonts/Carta.ttf");
     }
     @font-face {
        font-family: camelot;
        src: url( "../fonts/Creator.otf");
     }

     
   
    
footer{
    position: fixed;
    top: 90%;
    left: 0%;
    height: 10%;
    width: 100%;
    
}

h1{
    padding-top: 0;
    margin-top: 0;
    margin-left: 5%;
    background-size: 100% 100%;
    background-position-x: center ;
    text-align: center ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    color: #1100FA;
    font-size: large;
    text-shadow: 0.02em 0.02em 0.10em white;
    font-size: 60px;
    font-weight: bold;   
     
    }

h3{
    text-align: center;
    font-family: Algerian;
    color: #1100FA;
    font-size: small;
    text-shadow: 0.1em 0.1em 0.0em black;
    font-size: 2rem;
}
h5{
    text-align: center;
    font-family: carta-magna;
    color: #1100FA;
    font-size: large;
    text-shadow: 0.1em 0.1em 0.0em black;
    font-size: 2rem;
    font-weight: bold;    
    }

header{
    position: fixed;
    top: 10%;
    left: 0%;
    height: 10%;
    width: 100%;
}

main{
    position: fixed;
    top: 20%;
    left: 5%;
    height: 80%;
    width: 100%;
    overflow: auto;

}

li {
    display: inline;/**//*Deixa uma lista na horizontal*/
}

li a {
    border-right: 1px solid #574BFB; /*cria divisórias na barra de navegaçao*/
    text-shadow: 0.1em 0.1em 0.0em black;
    display: inline;/**//*Deixa uma lista na horizontal*/
    color: #1100FA;

    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p{
    text-shadow: 0.02em 0.02em 0.10em aqua;
     font-size: 23px;
     color: #ffff;
     font-family: Arial, Helvetica, sans-serif;   
}


ul{
    list-style-type: none;/**//*nÃO SEI*/
    margin: 0;
    height: 25px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}







 
 